.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.calculator-table {

    border-collapse: collapse;
    background-color: rgb(46, 36, 36);
}

.calculator-table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.calculator-table .display{
    width: 100%;
    padding: 5px;
    background-color: #e0e0e0;
    border: 5px outset;
}

.calculator-table .first-row .display-cell{
    padding: 5px;
}

.calculator-table .btn {
    width: 50px;
    font-size: 1.2rem;
    margin: 5px;
    border: 5px inset;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    border: 3px inset;
    background-color: #cccccc;
}
